<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Table Data</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
<h2>Employee Table Data</h2>
<hr>
<h3>Save Employee</h3>

<form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="post">
<input type="text" th:field="*{firstName}" placeholder="enter first name" class="form-control mb-4 col-4">
<input type="text" th:field="*{lastName}" placeholder="enter last name" class="form-control mb-4 col-4">
<input type="text" th:field="*{email}" placeholder="enter Email" class="form-control mb-4 col-4">
<button type="submit" class="btn btn-info col-2">Save Employee</button>
</form>
</div>

</body>
</html>